<section ng-contorller="profileeditproductCtrls" >
	 
				

<!-- START Page content-->
         <section class="main-content">
            <div class="col-lg-6">
                        <div class="panel panel-default">
                           
                              <div class="panel-body">
                        <h3>Product Image</h3>
                   <img class="img-main img-responsive"  ng-src="{{imageURLz.URLz[valuereal]}}" />


 					</div>
 				</div>
 			</div>

 			 <div class="col-lg-6">
                        <div class="panel panel-default">
                           
                              <div class="panel-body">
                              <a href="/NEW.html#/edit" class="pull-right btn btn-labeled btn-primary" ng-click="profilePic(imageURLz.URLz[valuereal])" >Edit</a>
                         <h3>Product Details</h3>
                         <div class="form-group">
                         <label>Product Name :</label> 
                         <span class="faname" >{{editData.name}}</span>                      
                         </div>
                         <div class="form-group">
                         <label>Date of Product :</label>
                              <span class="moname" >{{editData.dOB}}</span> 
                         </div>
                         <div class="form-group">
                         <label>Product Strength :</label>
                              <span class="siname" >{{editData.strength}}</span> 
                         </div>
                         <div class="form-group">
                         <label>Product ID :</label>
                              <span class="brname" >{{editData.iD}}</span> 
						 </div>

 					</div>
 				</div>
 			</div>
         </section>

         <!-- END Page content-->
		 
</section>